.venv
.env
Crop_recommendation.csv
.vscode 
.python-version
dagshub.init(repo_owner='thearpitgupta2003', repo_name='MLOPS-LLMOPS', mlflow=True)
src/__pycache__
logs 
.dvcignore 
.dvc 
src/mlops_llmops.egg-info
prompt_monitoring/__pycache__